body{
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 24px;
    color: #333;
}
.fl-left{ float: left;}
.fl-right{ float: right;}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*Reset Bootstrap*/
ul li{ list-style: none!important;}
a{ text-decoration: none!important;}
.dropdown-menu{
    left: inherit;
    right: 10px;
    border-radius: 0;
    -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.15);
    box-shadow: 0 0px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.15);
}
.dropdown .dropdown-toggle{
    background: none;
    border: none;
    outline: none;
}
.dropdown-menu>li>a{ 
    padding: 5px 20px;
    color: #2b2b2b;
    font-family: 'Roboto Regular';
}

/*CK Editor*/
#cke_desc,  #cke_detail, #cke_content{
    width: 800px;
    margin-bottom: 15px;
}

.error{
    color: red;
}

#slider-thumb img{
    margin-right: 5px;
}

.status-waiting{color :  #3860e6;}

.status-approved{color : #09ac31}
   
.status-trash{color : #e03131;}

.track-stocking {color :  #09ac31;}

.track-outOfStock {color : #e03131;}

.track-temporaryOut {color : #e0a331;}

.track-importingGoods{color : #3860e6;}

.list-slider-thumb div{
    margin-right: 2%;
}


